:root {
  --text1-font-family: "Raleway", sans-serif;
  --text2-font-family: "Roboto", sans-serif;
  --text3-font-family: "Oleo Script", sans-serif;
  --title-color: #212121;
  --subtitle-color: #212121;
  --text-hover-focus-color: #2196f3;
  --button-color: #212121;
  --button-hover-color: #ffffff;
  --button-background-color: #f5f4fa;
  --paragraph-color: #757575;
  --title-footer-background-color: #2f303a;
  --address-color: #ffffff99;
  --background-color-white: #ffffff;
  --title-button-hover-color: #188ce8;
  --grey-collor: #757575;
}

/*general*/

/*mobile*/
@media screen and (min-width:428px) {
body {
  font-family: sans-serif;
  font-family: var(--text2-font-family);
  background-color: var(--background-color-white);
  font-style: normal;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

/*title section*/

.title-section {
  text-align: center;
  height: 400px;
  padding-top: 60px;
  background-color: var(--title-footer-background-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/Header-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.title-section h1 {
  color: var(--background-color-white);
  font-family: var(--text1-font-family);
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-align: center;
  padding-bottom: 30px;
}

header {
  border-bottom: 1px solid #ececec;
}

/*logo*/

.first-word {
  font-family: var(--text1-font-family);
  color: #2196f3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.337em;
  letter-spacing: 0.03em;
  height: 31px;
  top: 24px;
}

.second-word {
  font-family: var(--text3-font-family);
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.337em;
  letter-spacing: 0.03em;
  height: 31px;
  top: 24px;
}

.third-word {
  font-family: var(--text1-font-family);
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.337em;
  letter-spacing: 0.03em;
}

.logo :focus {
  color: var(--text-hover-focus-color);
}

.logo :hover {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.global-header {
  display: flex;
  width: 100%;
  padding: 15px;
  align-content: center;
}



.top-navigation {
  display: none;
}

.nav-contact {
  display: none;
}

.nav-contact-email {
  display: none;
}
/*
.logo-mobile {
  display: flex;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-mobile :focus {
  color: var(--text-hover-focus-color);
}

.logo-mobile :hover {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/

/*navigation bar*/

/*
.global-header>:not(.logo-mobile, .menu-button) {
  display: none;
}*/


header {
  width: 100vw;
  display: flex;
  justify-content: center;
  height:60px;
}

.first-part-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  padding-left: 93px;
  padding-right: 330px;
}

.menu-nav :nth-child(2) {
  padding-left: 50px;
  padding-right: 50px;
}

.nav-contact-email {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 40px;
}

.nav-contact-phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item {
  position: relative;
}

.nav-link {
  font-family: var(--text2-font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--subtitle-color);
  line-height: 1.328em;
  letter-spacing: 0.02em;
  font-weight: bold;
  position: relative;
}

.nav-link::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--text-hover-focus-color);
  border-radius: 2px;
 position: absolute;
  left: 0;
  bottom: -32px;
  opacity: 0;
}

.nav-link:hover::after {
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.nav-link:focus::after {
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.current {
  color: var(--text-hover-focus-color);
}

.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--text-hover-focus-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -32px;
  opacity: 1;
}

a:hover {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:focus {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact a {
  font-family: var(--text2-font-family);
  font-size: 14px;
  font-weight: 500;
  color: var(--paragraph-color);
  line-height: 1.36em;
  letter-spacing: 0.02em;
}

.nav-contact-email svg {
  width:16px;
  height:12px;
  fill: #afb1b8;
}

.nav-contact-phone svg {
  width:10px;
  height: 16px; ;
  fill: #afb1b8;
}

.nav-contact-email:hover svg {
  fill: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-email:hover a {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-phone:hover svg {
  fill: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-phone:hover a {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*strong-points*/

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-background-color);
  margin: 0px 15px;
}

.strong-points-container {
  display: block;
  padding-top: 60px;
  gap: 30px;
}

.strong-points h3 {
  text-align: center;
  font-family: var(--text2-font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  line-height: 1.429em;
  padding-top: 30px;
  padding-bottom: 10px;
}

.strong-points p {
  font-family: var(--text2-font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  line-height: 1.429em;
  margin: 10px 15px 30px;
}

h2 {
  font-family: var(--text2-font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  line-height: 1.337em;
}

/* what-we-do*/

.what-we-do {
  display: none;
}

.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.what-we-do-container {
  display: flex;
  justify-content: center;
  width: 1170px;
  margin: auto;
  margin-top: 0;
  gap: 30px;
  padding-left: 0;
  position: relative;
}

.what-we-do-container img {
  position: relative;
  z-index: 1;
}

.what-we-do-footer {
  font-family: var(--text2-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 16, 41px;
  letter-spacing: 3%;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color-white);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0, 8;
  z-index: 2;
  position: absolute;
  top: 220px;
}

/*our-team*/

.our-team {
  background-color: var(--button-background-color);
  padding-top: 60px;
}

.our-team h2 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.team-comp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}

.card {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--background-color-white);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  height: 428px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.our-team h3 {
  font-family: var(--text2-font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  line-height: 1.36em;
  padding-top: 30px;
}

.our-team span {
  font-family: var(--text2-font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  line-height: 1.361em;
  padding-top: 10px;
  padding-bottom: 16px;
}

/*social media section*/

.social-media-icon-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 44px;
  gap: 10px;
}

.social-media-icon-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-white);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-media-icon-card svg {
  fill: #afb1b8;
}

.social-media-icon-card:hover {
  background-color: var(--text-hover-focus-color);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon-card:hover svg {
  fill: var(--background-color-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*regular customers*/

.regular-customers {
  align-content: center;
  display: grid;
}

.regular-customers h2 {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
}

.customers {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.customers-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.customers-logo svg {
  fill: #afb1b8;
}

.customers-logo:hover svg {
  fill: var(--text-hover-focus-color);
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers :hover {
  border: 1px solid var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*buttons*/

.title-section .button {
  font-family: var(--text2-font-family);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.367em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--background-color-white);
  background-color: var(--text-hover-focus-color);
  width: 200px;
  height: 50px;
}


.title-section .button:hover {
  background-color: var(--title-button-hover-color);
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-product button {
  font-family: var(--text2-font-family);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.332em;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 4px;
  padding-inline: 20px;
  padding-block: 10px;
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-product :focus {
  color: #ffffff;
  background-color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*card section*/

.product-container {
  width: 100vw;
  padding-top: 60px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-product {
  display: flex;
  justify-content: center;
  width: 280px;
  padding-bottom: 40px;
}


.product-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 1200px;
flex-wrap: wrap;
align-content: flex-start;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 1200px;
  gap: 30px;
  padding-bottom: 94px;
}

.box-card {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #eee;
  background-color: var(--background-color-white);
  width: 370px;
  cursor: pointer;
}

.overlay-img {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--background-color-white);
  background-color: #2196f3e5;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

.overlay-img:hover .overlay-text {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text p {
  font-family: var(--text2-font-family);
  size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 3%;
  display: flex;
  padding-left: 24px;
  padding-right: 50px;
  padding-top: 63px;
  padding-bottom: 91px;
}

.item-section:hover li {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  padding-left: 24px;
}

.card-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.card-section {
  background-color: var(--background-color-white);
}

.card-section h3 {
  font-family: var(--text2-font-family);
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.419em;
  letter-spacing: 0.06em;
  padding-bottom: 15px;
}

.card-section span {
  font-family: var(--text2-font-family);
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.434em;
  letter-spacing: 0.03em;
}

/*footer section*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--title-footer-background-color);
  align-items: center;
  position: relative;
}

.global-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: var(--text2-font-family);
  font-weight: 400;
  padding-top: 60px;
}

.footer a {
  display: flex;
  justify-content: center;
}

.footer address {
  text-align: center;
}

.global-footer a :hover,
:focus {
  color: var(--text-hover-focus-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
  font-style: normal;
}

.global-footer .phisical-address {
  font-family: var(--text2-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--background-color-white);
  line-height: 1.399em;
  letter-spacing: 0.03em;
  padding-top: 28px;
  width: 231px;
}

.global-footer p {
  font-family: var(--text2-font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--address-color);
  line-height: 1.41em;
  letter-spacing: 0.03em;
  padding-top: 12px;
}

.find-us-on-container {
  display: block;
  padding-top: 60px;
}

.find-us-on-container h3 {
  font-family: var(--text2-font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--background-color-white);
  padding-bottom: 20px;
  text-align: center;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 206px;
  height: 44px;
  gap: 10px;
}

.social-media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-media-icon:hover {
  background-color: var(--text-hover-focus-color);
  fill: var(--background-color-white);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-container {
  display: flex;
  width: 100%;
  padding-top: 60px;
  margin-bottom: 60px;
  margin-left: 15px;
  margin-right: 15px;
}

.subscribe-container form {
  width: 100%;
  align-items: start;
}

.subscribe-container legend {
  color: var(--background-color-white);
  font-family: var(--text2-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;
}

.email-and-button {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.email-and-button input {
  background-color: var(--title-footer-background-color);
  border: 1px solid #FFFFFF4D;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 4px;
  padding: 15px 16px;
  color: var(--background-color-white);
  display: flex;
  height: 50px;
  flex-grow: 1;
  width: 358px;
  transition: border-color var(--text-hover-focus-color);
}

.email-and-button input:focus {

  outline-color: var(--text-hover-focus-color);
  color: var(--address-color);
}

.email-and-button input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  font-weight: 400;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  color: var(--background-color-white);
  background-color: var(--title-button-hover-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  font-family: var(--text2-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
  line-height: 1.87;
  box-shadow: 0px 4px 4px 0px #00000026;
  padding: 10px 28px 10px 43px;
  transition: var(--text-hover-focus-color);
}

.subscribe.btn button:hover,
.subscribe.btn button:focus {
  background-color: var(--title-button-hover-color);
}

.email-and-button svg {
  position: absolute;
  margin-top: 80px;
  margin-left: 90px
}

/* modalul*/

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-white);
  width: 430px;
  height: 609px;
  padding: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  box-shadow: 0, 2, 1, 0 rgba(0, 0, 0, 0.2)0, 1, 1, 0 rgba(0, 0, 0, 0.14)0, 1, 3, 0rgba(0, 0, 0, 0.12);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  color: rgba(0, 0, 0, 1);
  background-color: var(--background-color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding-top: 6px;
  padding-left: 4px;
  font-size: 18px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:active,
.close-btn:focus,
.close-btn:hover {
  fill: var(--text-hover-focus-color);
  cursor: pointer;
}

.modal-title {
  text-align: center;
  font-family: var(--text2-font-family);
  font-weight: 700px;
  font-size: 20px;
  letter-spacing: 0.03;
  line-height: 23.44px;
  color: var(--subtitle-color);
  margin-bottom: 12px;
  padding-left: 5px;
  padding-right: 5px;
}

.form-label {
  font-family: var(--text2-font-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--paragraph-color);
  line-height: 14.06px;
  letter-spacing: 0.01;
  position: relative;
  display: block;
  text-align: left;
  width: 370px;
  margin-bottom: 10px;
}

.form-label input {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #21212133;
  margin-top: 4px;
  height: 40px;
  padding-left: 42px;
}

.form-label input:focus {
  color: var(--subtitle-color);
  outline-color: var(--text-hover-focus-color);
}

.form-label input:focus+svg {
  fill: #2196f3;
}

.form-label svg {
  position: absolute;
  margin-left: 12px;
  margin-top: -30px;
  fill: var(--button-color);
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  overflow: hidden;
}

textarea::placeholder {
  font-family: var(--text2-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41;
  letter-spacing: 0.01;
  color: #75757580;
}

textarea:focus {
  outline-color: var(--text-hover-focus-color);
  color: var(--subtitle-color);
}

.checkbox {
  width: 360px;
  height: 24px;
  position: relative;
}

.checkbox span {
  font-family: var(--text2-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03;
  color: #757575;
  text-align: center;
}

.checkbox span a {
  color: var(--text-hover-focus-color);
  text-decoration-line: underline;
}

.checkbox svg {
  position: absolute;
  margin-top: -20px;
  margin-left: -2px
}

.checkbox input {
  opacity: 0;
}

.checkbox svg .checked {
  opacity: 0;
}

.checkbox input:checked+svg .checked {
  opacity: 1;
  fill: var(--text-hover-focus-color);
}

.submit-btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--text-hover-focus-color);
  border: none;
  border-radius: 4px;
  color: var(--background-color-white);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  cursor: pointer;
  text-align: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.menu-button:hover,
.menu-button:focus{
  fill: var(--text-hover-focus-color);
}

.js-menu-container {
  display: none;
}
.js-menu-container.is-open {
  display: flex;
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-top: 48px;
  z-index: 1;
}

.menu-drawer-navigation{
  height: 100vh;
}
.js-menu-container .js-close-menu {
  border: none;
  background: none;
  cursor: pointer;
  align-self: flex-end;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.js-close-menu svg {
  width: 40px;
  height: 40px;
}

.js-close-menu svg:hover,
.js-close-menu svg:focus{
  fill: var(--text-hover-focus-color);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-content: flex-start;
  padding-bottom: 300px;
}

  .mobile-menu li {
    font-family: var(--text2-font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.319;
    letter-spacing: 0.02;
  }
  
  .mobile-menu li a {
    color: var(--subtitle-color);
  }
  
  .mobile-menu li a {
    color: var(--subtitle-color);
  }
  .mobile-menu li a:hover,
  .mobile-menu li a:focus,
  .mobile-menu li a:active{
    color: var(--text-hover-focus-color);
  }

  .contact-mobile{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
  }

.contact-mobile-phone{
  font-family: var(--text2-font-family);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.316;
  letter-spacing: 0.02;
  color: var(--text-hover-focus-color);
padding-block: 32px;
}

  .contact-mobile-email{
    font-family: var(--text2-font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.312;
  letter-spacing: 0.02;
  color: var(--paragraph-color);
padding-bottom: 64px;
}

.social-media-modal {
  display: flex;
height: 22px;
}

.social-media-modal li a {
  font-family: var(--text2-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.309;
  letter-spacing: 0.02;
  color: var(--text-hover-focus-color);
}

.social-media-modal li:first-child{
  padding-right: 10px;
}

/*
.social-media-modal li{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
}*/

.social-media-modal li:nth-child(n + 2){
  border-left: 1px solid #21212133;
  padding-inline: 10px;
}

/*
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 306px;
}


.menu-drawer-navigation a:nth-child(2){
font-family: var(--text2-font-family);
font-weight: 500;
font-size: 34px;
line-height: 1.316;
letter-spacing: 0.02;
color: var(--text-hover-focus-color);
padding-bottom: 32px;
}

.menu-drawer-navigation a:nth-child(3){
  font-family: var(--text2-font-family);
font-weight: 500;
font-size: 24px;
line-height: 1.312;
letter-spacing: 0.02;
color: var(--paragraph-color);
padding-bottom: 64px;
}


  padding-top: 64px;
}

 
*/
}
/* tablet*/

@media screen and (min-width:768px) {


/*
  .global-header>:not(.logo-mobile) {
    display: flex;
  }*/

  .first-word,
  .second-word,
  .third-word {
font-size: 24px;
  }

  .top-navigation {
    display: contents;
  }
.nav-contact a {
  font-size: 12px;
}
.nav-contact-email svg {
  width:14;
  height:10;
}
.nav-contact-phone svg {
  width:10px;
  height:14px;
}

/*
  .logo-mobile {
    display: none;
  }*/

  .global-header {
  width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
  }

  header {
    width: 100vw;
    display: flex;
    height: 80px;
  }

  .menu-nav {
    padding-right: 114px;
  }
  
  .nav-contact {
    display: flex;
    flex-direction: column;
  width: 140px;
  gap: 10px;
  }

  .nav-contact-email {
    padding-right: 0px;
  }

  .global-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

  }

  .title-section {
    text-align: center;
    height: 400px;
    top: 80px;
    background-color: var(--title-footer-background-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/Header-tablet.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 118px;
  }

  .title-section .button {
    font-family: var(--text2-font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.367em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--background-color-white);
    background-color: var(--text-hover-focus-color);
    width: 200px;
    height: 50px;
  }

  .title-section .button:hover {
    background-color: var(--title-button-hover-color);
    color: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .strong-points-container{
    display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.team-comp {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  
}

.customers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.customers-logo {
  width:226px;
height:92px;
}


.first-part-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 165px;
}

.find-us-on-container {
  padding-top: 5px;
}
.email-and-button input {
  width: 450px;
}

.product-container {
  width: 100vw;
  padding-top: 94px;}
}

.nav-product {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-bottom: 50px;
}

.product-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 1200px;
}

/* desktop */

@media screen and (min-width:1158px) {

.modal-content{
  width: 528px;
  height: 581px;
}

.form-label{
  width: 448px;
}
.checkbox {
  width: 417px;
}
.checkbox span {
  font-size: 14px;}

  .email-and-button input {
    width: 358px;
    gap: 50px;
  }

  .first-part-footer {
    display: contents;
  }
/*
  .global-header>:not(.logo-mobile) {
    display: flex;
  }

  .logo-mobile {
    display: none;
  }
*/
   .first-word,
  .second-word,
  .third-word {
font-size: 26px;
  }

  .global-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1200px;
  }
.first-part-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
  .menu-nav {
    padding-right: 330px;
  }
 
  .nav-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    gap:0;
  }
  .nav-contact a {
    font-size: 14px}

  .nav-contact-email {
    padding-right: 40px;
  }
.nav-contact-email svg {
  width:16;
  height:12;
}
.nav-contact-phone svg {
  width:10px;
  height:16px;
}
  .title-section {
    text-align: center;
    height: 600px;
    top: 80px;
    background-color: var(--title-footer-background-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/bg-h1-image.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: block;
  }

  .title-section h1 {
    font-family: var(--text1-font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    color: var(--background-color-white);
    margin-top: 0;
    padding-bottom: 30px;
  }

  .title-section {
    padding-top: 199px;
  }

  .title-section .button {
    font-family: var(--text2-font-family);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.367em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--background-color-white);
    background-color: var(--text-hover-focus-color);
    width: 200px;
    height: 50px;
  }

  .title-section .button:hover {
    background-color: var(--title-button-hover-color);
    color: #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .strong-points-container {
    display: flex;
    margin: auto;
    width: 1170px;
    padding-top: 94px;
    gap: 30px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 93px;
  }

  .icon-box {
    width: 270px;
    height: 120px;
    margin: 0;
  }

  .strong-points h3 {
    text-align: start;
  }

  .strong-points p {
    margin: 0;
  }

  .what-we-do {
    display: contents;
  }

  .our-team {
    padding-top: 94px;
  }

  .team-comp {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 94px;
  }

  .regular-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .regular-customers h2 {
    padding-bottom: 50px;
    padding-top: 0
  }

  .customers {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 0;
  }

  .customers-logo {
    width:170px;
    height:92px;
  }
  footer {
    display: flex;
    flex-direction: row;
    margin-left: -115px;
  }

  .global-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 1200px;
    font-family: var(--text2-font-family);
    font-weight: 400;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer a {
    display: flex;
    justify-content: flex-start;
  }

  .footer address {
    text-align: left;
  }

  .find-us-on-container {
    display: block;
    width: 206px;
    padding-left: 70px;
    padding-top: 0;
  }

  .find-us-on-container h3 {
    text-align: left;
  }

  .subscribe-container {
    display: flex;
    width: 570px;
    gap: 12px;
    padding-left: 165px;
    padding-top: 15px;
  }

  .subscribe-container legend {
    text-align: left;
  }

  .email-and-button {
    display: flex;
    flex-direction: row;
    width: 570px;
    gap: 12px;
    align-items: center;
  }

  footer {
    align-items: center;
    justify-content: center;
    padding-left: 94px;
    padding-right: 94px;
  }

  .email-and-button svg {
    position: absolute;
    margin-left: 510px;
    margin-top: -10px;
  }

  .product-container {
    width: 100vw;
    padding-top: 94px;}

    .nav-product {
      display: flex;
      justify-content: center;
      
      padding-bottom: 50px;
    }
    .product-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1200px;
}
}




/*.terms-and-conditions-check:not(:checked) {
  visibility: hidden;
}
.terms-and-conditions-check:checked + label > svg {
  display: none;
}*/